@model GpBooking.Models.HotelReservations
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section title
{
    Check in
}
<div>
    <h4>Hotel Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hotel Room Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRooms.HotelRoomType.TypeName)
        </dd>
        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRooms.Price)
        </dd>
        <dt>
            Hotel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRooms.Hotel.Name)
        </dd>
        <dt>
            Hotel Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRooms.Hotel.Address)
        </dd>
        <dt>
            Hotel Tel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRooms.Hotel.Tel1)
        </dd>
        <dt>
            StartDate
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            EndDate
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            PaymentType
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        @using (Html.BeginForm("Checkin", "Hotel", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id" name="CheckId" type="hidden" value="@Model.Id">
            <div class="container-login100-form-btn">
                <input type="submit" value="Check-In" class="login100-form-btn" />
            </div>
        }
    </dl>
</div>