<!DOCTYPE html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Admin/vendor/font-awesome/css/font-awesome.css" />
    <link href="~/Content/Admin/stylesheets/customSheet.css" rel="stylesheet" />

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/Content/Admin/vendor/font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="~/Content/Admin/vendor/magnific-popup/magnific-popup.css" />
            <link rel="stylesheet" href="~/Content/Admin/vendor/bootstrap-datepicker/css/datepicker3.css" />
            <!-- Specific Page Vendor CSS -->
            <link rel="stylesheet" href="~/Content/Admin/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
            <link rel="stylesheet" href="~/Content/Admin/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
            <link rel="stylesheet" href="~/Content/Admin/vendor/morris/morris.css" />
            <!-- Theme CSS -->
            <link rel="stylesheet" href="~/Content/Admin/stylesheets/theme.css" />
            <!-- Skin CSS -->
            <link rel="stylesheet" href="~/Content/Admin/stylesheets/skins/default.css" />
            <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="~/Content/Admin/stylesheets/theme-custom.css">
        <!-- Head Libs -->
    @RenderSection("csss", required: false)
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="/Images/!logged-user.jpg" alt="User" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="User">
                            <span class="role">User</span>
                            @Html.Partial("_UserPartial")
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/Manage/Index"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            @Html.Partial("_AdminManageUsersPartial")
                            <li>
                                @Html.Partial("_LogoutPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
            <div class="header-right" style="float: left;margin-left: 18px; filter: brightness(125%);">
                <h3>Admin Panel</h3>
            </div>
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav">
                                    <a href="/Home/Index">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Owner</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Owner/Index">
                                                All Owners
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Owner/Create">
                                                Create New Owner
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                        <span>Investment & Installment</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Investment/Index">
                                                All Investments
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Installment/Index">
                                                All Installments
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                        <span>Project</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Project/Index">
                                                All Projects
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Project/Create">
                                                New Project
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        <span>Unit</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Unit/Index">
                                                All Units
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Unit/Create">
                                                New Unit
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        <span>Contract</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Contract/Index">
                                                All Contracts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Contract/Create">
                                                New Contract
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Contract/RenewContract">
                                                Renew Contract
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Contract/TerminateContract">
                                                Terminate Contract
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Contract/CloseContract">
                                                Close Contract
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span>Tenant</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Tenant/Index">
                                                All Tenants
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Tenant/Create">
                                                Add Tenant
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav">
                                    <a href="/Payment/Index">
                                        <i class="fa fa-dollar" aria-hidden="true"></i>
                                        <span>Payment</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>Request</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Request/Index">
                                                All Requests
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Request/GenerateRequest">
                                                Generate Request
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Request/RequestReport">
                                                Request Report
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                        <span>Supplier</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Supplier/Index">
                                                Supplier List
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/TypeOfService/Index">
                                                Type Of Service
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span>Employee</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Employee/Index">
                                                Employee List
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        <span>Report</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/Expenses/ExpensesReport">
                                                Expenses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Report/Index">
                                                Main Report
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Report/Monthly">
                                                Monthly Report
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Expenses/ProjectExpensesReport">
                                                Project Expenses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Expenses/SupplierExpensesReport">
                                                Supplier Expenses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Expenses/DebitsReport">
                                                Debits Report
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @*<li>
                                        <a href="/Notification/Index">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span>
                                                <span>Notification</span>
                                                <img src="~/Content/Admin/images/Picture1.jpg" width="66" height="40" />
                                            </span>
                                        </a>
                                    </li>*@
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    @RenderSection("title", required: false)
                </header>

                <!-- start: page -->
                <div id="page-body">
                    @RenderBody()

                </div>
                <!-- end: page -->
                <hr />
                <footer>
                    <p>&copy; 2020 - CopyRight</p>
                </footer>
            </section>
        </div>
    </section>
        <script src="~/Content/Admin/vendor/modernizr/modernizr.js"></script>
                <!-- Vendor -->
                <script src="~/Content/Admin/vendor/jquery/jquery.js"></script>
                <script src="~/Scripts/jquery.validate.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
                <script src="~/Content/Admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
                <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.js"></script>
                <script src="~/Content/Admin/vendor/nanoscroller/nanoscroller.js"></script>
                <script src="~/Content/Admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                <script src="~/Content/Admin/vendor/magnific-popup/magnific-popup.js"></script>
                <script src="~/Content/Admin/vendor/jquery-placeholder/jquery.placeholder.js"></script>

                <!-- Specific Page Vendor -->
                <script src="~/Content/Admin/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
                <script src="~/Content/Admin/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
                <script src="~/Content/Admin/vendor/jquery-appear/jquery.appear.js"></script>
                <script src="~/Content/Admin/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
                <script src="~/Content/Admin/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
                <script src="~/Content/Admin/vendor/flot/jquery.flot.js"></script>
                <script src="~/Content/Admin/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
                <script src="~/Content/Admin/vendor/flot/jquery.flot.pie.js"></script>
                <script src="~/Content/Admin/vendor/flot/jquery.flot.categories.js"></script>
                <script src="~/Content/Admin/vendor/flot/jquery.flot.resize.js"></script>
                <script src="~/Content/Admin/vendor/jquery-sparkline/jquery.sparkline.js"></script>
                <script src="~/Content/Admin/vendor/raphael/raphael.js"></script>
                <script src="~/Content/Admin/vendor/morris/morris.js"></script>
                <script src="~/Content/Admin/vendor/gauge/gauge.js"></script>
                <script src="~/Content/Admin/vendor/snap-svg/snap.svg.js"></script>
                <script src="~/Content/Admin/vendor/liquid-meter/liquid.meter.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/jquery.vmap.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
                <script src="~/Content/Admin/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
                <!-- Theme Base, Components and Settings -->
                <script src="~/Scripts/Admin/theme.js"></script>
                <!-- Theme Custom -->
                <script src="~/Scripts/Admin/theme.custom.js"></script>
                <!-- Theme Initialization Files -->
            <script src="~/Scripts/Admin/theme.init.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>