@model GpBooking.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section title
{
    @ViewBag.Title.
}

@using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w", role = "form" }))
{
    <span class="login100-form-title p-b-32">
        Change Password Form
    </span>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <span class="txt1 p-b-11">
        Old Password
    </span>
    <div class="wrap-input100 validate-input m-b-36" data-validate="OldPassword is required">
        @Html.TextBoxFor(m => m.OldPassword, new { @class = "input100" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        <span class="focus-input100"></span>
    </div>

    <span class="txt1 p-b-11">
        NewPassword
    </span>
    <div class="wrap-input100 validate-input m-b-12" data-validate="NewPassword is required">
        <span class="btn-show-pass">
            <i class="fa fa-eye"></i>
        </span>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "input100" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        <span class="focus-input100"></span>
    </div>
    <span class="txt1 p-b-11">
        ConfirmPassword
    </span>
    <div class="wrap-input100 validate-input m-b-12" data-validate="ConfirmPassword is required">
        <span class="btn-show-pass">
            <i class="fa fa-eye"></i>
        </span>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        <span class="focus-input100"></span>
    </div>
    <div class="container-login100-form-btn">
        <input type="submit" value="Change password" class="login100-form-btn" />
    </div>
}