@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var hotels = ViewBag.hotels as List<GpBooking.Models.HotelReservations>;
    var clubs = ViewBag.clubs as List<GpBooking.Models.ClubReservations>;
    var rests = ViewBag.rests as List<GpBooking.Models.RestaurantReservations>;
}
@section title
{
    Profile
}
<h2>Welcome @(GpBooking.Services.ApplicationUserService.GetUser().Name)</h2>
@if (hotels.Any())
{
    <h3>Hotels</h3>
    <hr />
    foreach (var res in hotels)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => res.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.HotelRooms.Hotel)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.HotelRooms.Hotel.Name)
            </dd>
            <dt></dt>
            <dd>
                @if (!res.IsCheckIn)
                {

                    <div>
                        @Html.ActionLink("Edit Booking", "EditBooking", "Hotel", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                    <div>
                        <a href="#">
                            <i class="txt3" onclick="openPopUp('/Hotel/DeleteBooking/@res.Id')">Delete Booking</i>
                        </a>
                    </div>
                    <div>
                        @Html.ActionLink("Check in", "Checkin", "Hotel", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                }
            </dd>
            <dt></dt>
            <dd>

            </dd>
        </dl>
    }
}
@if (clubs.Any())
{
    <h3>Clubs</h3>
    <hr />
    foreach (var res in clubs)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => res.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.Club)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.Club.Name)
            </dd>
            <dt></dt>
            <dd>
                @if (!res.IsCheckIn)
                {

                    <div>
                        @Html.ActionLink("Edit Booking", "EditBooking", "Club", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                    <div>
                        <a href="#">
                            <i class="txt3" onclick="openPopUp('/Club/DeleteBooking/@res.Id')">Delete Booking</i>
                        </a>
                    </div>
                    <div>
                        @Html.ActionLink("Check in", "Checkin", "Club", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                }
            </dd>
            <dt></dt>
            <dd>

            </dd>
        </dl>
    }
}
@if (rests.Any())
{
        <h3>Restaurant</h3>
    <hr />
    foreach (var res in rests)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => res.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.NumberOfTable)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.NumberOfTable)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => res.Restaurant)
            </dt>

            <dd>
                @Html.DisplayFor(model => res.Restaurant.Name)
            </dd>
            <dt></dt>
            <dd>
                @if (!res.IsCheckIn)
                {

                    <div>
                        @Html.ActionLink("Edit Booking", "EditBooking", "Restaurant", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                    <div>
                        <a href="#">
                            <i class="txt3" onclick="openPopUp('/Restaurant/DeleteBooking/@res.Id')">Delete Booking</i>
                        </a>
                    </div>
                    <div>
                        @Html.ActionLink("Check in", "Checkin", "Restaurant", new { id = res.Id }, new { @class = "txt3" })
                    </div>
                }
            </dd>
            <dt></dt>
            <dd>

            </dd>
        </dl>
    }
}
<hr />
<div>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", new { }, new { @class = "txt3" })
</div>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", role = "menuitem", tabindex = "-1" }))
{
    @Html.AntiForgeryToken()
    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a>
}