@model GpBooking.Models.Restaurant
@{
    ViewBag.Title = "GetRestaurant";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<div id="wrap">

    <section class="ewbcraft-topbar1">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 header-base-block">
                    <div class="headder-block">
                        <div class=" header-icon text-left">
                            <p><img src="/Images/header-png2_03.png" alt="your turst our business">your turst our business</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 header-base-block">
                    <div class="header-rotate">
                        <div class="back-skew">
                            <a href="tel:0000000000">
                                <img src="/Images/header-png1_03.png" alt="phone#">
                                @Model.Tel1
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 header-base-block">
                    <div class="headder-block text-right">

                        <div class=" header-icon">
                            <p><img src="/Images/header-png_03.png" alt="customer">27/4 fully coustomer services</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end header -->
    <!-- BANNER START -->
<section style="background-image: url('@(Model.Image ?? "/Images/Restaurant/res-banner-1.jpg")');" class="module parallax ewebcraft-banner1">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-6 banner-text">
                    <h3>Visit Lunch Box Today</h3>
                    <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Fresh &amp; Fast <span>@Model.ShortName</span></h2>
                    <p>
                      @Model.About
                    </p>
                    <a href="/Restaurant/Booking?Table=@Model.Id" id="btnBookTable" class="btn btn-default hvr-sweep-to-right">
                        BOOK TABLE
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- BANNER END --><div id="about" class="module parallax parallax-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading wow fadeInUp" data-wow-duration="2s">
                        We’ll cater any size party
                    </h2>
                    <p class="section-text wow fadeInUp" data-wow-duration="1s">
                    </p>
                </div>
            </div>
            <div class="row section-detail">
                <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                    <div class="col-xs-12">
                        <img src="/Images/2n-image.png" class="img-responsive detail-image" alt="24/7-image">
                    </div>
                    <div class="col-xs-12">
                        <h3>TRULY TASTEFUL</h3>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                    <div class="col-xs-12">
                        <img src="/Images/3n-image.png" class="img-responsive detail-image" alt="expert-image">
                    </div>
                    <div class="col-xs-12">
                        <h3>AFFORDABLE PRICES</h3>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                    <div class="col-xs-12">
                        <img src="/Images/4n-image.png" class="img-responsive detail-image" alt="satisfaction-image">
                    </div>
                    <div class="col-xs-12">
                        <h3>11 CITIES</h3>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                    <div class="col-xs-12">
                        <img src="/Images/5n-image.png" class="img-responsive detail-image" alt="inspection-image">
                    </div>
                    <div class="col-xs-12">
                        <h3>WE DELIVER</h3>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="clearfix visible-sm "></div>
            </div>
        </div>
    </div><!--start video-->

    <section id="video-box">
        <div class="container ">
            <div class="row">
                <div class="video">
                    <iframe style="border:0px; width:100%; height:360px;" src="https://www.youtube.com/embed/ZLi194SIyVs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

<!--end video--><section id="services" class="ewc-services-1">
    <div class="container">
        @if (Model.RestaurantDishs.Any())
        {

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading wow fadeInUp" data-wow-duration="2s">
                        Our Dishs
                    </h2>
                </div>
            </div>
        }
        <div class="row services-container">
            @foreach (var item in Model.RestaurantDishs)
            {

                <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                    <div class="service-detail">
                        <img src="@item.Image" class="img-responsive" alt="image-1">

                        <div class="ewc-caption-1">
                            <h3>@item.DishName</h3>
                            <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section id="content-with-left-image">
        <div class="container">
            <div class="row section-detail">
                <div class="col-lg-8 col-md-8 col-sm-12 about-image">
                    <img class="img-responsive" src="/Images/chef.png" alt="welcome">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 about-text">
                    <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12 detail-icon">
                            <img src="/Images/Emergency-Available.png" class="img-responsive detail-image" alt="24/7-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>Truly Tastfull</h3>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12 detail-icon">
                            <img src="/Images/QulaityCleaningTools.png" class="img-responsive detail-image" alt="expert-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>Affordable Price</h3>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12 detail-icon">
                            <img src="/Images/service-3.png" class="img-responsive detail-image" alt="expert-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>We Deliver</h3>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="clearfix visible-lg"></div>
                <div class="clearfix visible-md"></div>
                <div class="clearfix visible-sm "></div>
            </div>
        </div>
    </section><!-- Testmonial start -->
    <!-- Testmonial end -->
    <section id="footer" class="ewc-footer-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 social-icon text-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                </div>

            </div>
        </div>
    </section>
</div>


@*---------------------------------------------book table Modal----------------------------------*@

<div class="modal fade" id="bookTableModal" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Book Table</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3"> number of table :</label>
                        <div class="col-md-4">
                            <input type="number" id="numberOfTable" min="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"> Date :</label>
                        <div class="col-md-4">
                            <input type="date" id="dateOfBooking" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="BookTable" id="book" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@*@section scripts{

    <script>
        $("#btnBookTable").on("click", (e) => {
            $("#bookTableModal").modal("toggle");
        })

        $("#book").on("click", () => {

            $("#bookTableModal").modal("toggle");

            let model = {
                NumberOfTable: $("#numberOfTable").val(),
                Date: $("#dateOfBooking").val(),
            };

            $.ajax({
                type: "POST",
                dataType: "html",
                contentType: "application/json",
                accepts: "application/html",
                data: JSON.stringify(model),
                url: "/Restaurant/BookTable",
                success: () => {
                    
                }

            })
        })
    </script>
}*@